<div class="hero-unit">
  <h1>Welcome!</h1>
  <p>Drag the bookmarklet to your bookmarks bar to get started.</p>
  <p><a href="javascript:(function(){document.head.appendChild(document.createElement('script')).src='http://code.jquery.com/jquery-1.5.1.min.js';document.head.appendChild(document.createElement('script')).src='http://dds.1337.cx/addendum.js';})();" class="btn btn-primary btn-large">DDSTown</a></p>
</div>
